.root {
  &__container {
    display: block;
    width: 100%;
    border-radius: 0.25rem;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  :global([dir="ltr"]) &__container {
    padding-right: 2.25rem;
  }
}