
.root {
  display: flex;
  border-radius: 0.25rem;
  min-width: 16rem;

  & .input {
    width: 100%;

    :global([dir="ltr"]) & input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }

    & input {
      cursor: pointer;
    }
  }

  & .logo {
    &__container {
      // :global([dir="ltr"]) .ltr\:border-r-0 {
      //   border-right-width: 0px;
      // }
      // :global([dir="ltr"]) .ltr\:rounded-l-sm {
      //     border-top-left-radius: 0.25rem;
      //     border-bottom-left-radius: 0.25rem;
      // }
      :global([dir="ltr"]) &  {
        border-right-width: 0px;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }

      border-width: 1px;
      align-items: center;
      min-width: fit-content;
      display: inline-flex;
      
    }
  }

  &__window {
    margin-top: 5px;

    background: transparent;
    opacity: 0;
    display: none;
    text-align: center;
    visibility: hidden;
    padding: 0;
    -webkit-animation: none;
    animation: none;
    direction: ltr;
    border: 0;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    position: absolute;
    // width: 307.875px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background: #fff;
    -webkit-box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0,0,0,0.08);
    box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0,0,0,0.08);

    border-radius: 0.25rem !important;
    border-width: 1px !important;
    border-style: solid !important;
    --tw-border-opacity: 1 !important;
    border-color: rgb(226 232 240 / var(--tw-border-opacity)) !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
    --tw-shadow: 0 0.75rem 1.5rem rgba(15,23,42,.03) !important;
    --tw-shadow-colored: 0 0.75rem 1.5rem var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;

    &.open {
      opacity: 1;
      max-height: 640px;
      visibility: visible;
      display: inline-block;
      z-index: 99999;
    }
    &.animate.open {
      -webkit-animation: fpFadeInDown 300ms cubic-bezier(.23,1,.32,1);
      animation: fpFadeInDown 300ms cubic-bezier(.23,1,.32,1);
    }

    &:before {

        border-bottom-color: #e6e6e6;

        bottom: 100%;

        left: auto;
        right: 22px;

        content: var(--tw-content);
        --tw-border-opacity: 1;
        border-bottom-color: rgb(226 232 240 / var(--tw-border-opacity));

        border-width: 5px;
        margin: 0 -5px;

        position: absolute;
        display: block;
        pointer-events: none;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        left: 22px;
    }
  }
}