@import "../../scss/variables.scss";
@import "../../scss/mixins";

.root {
	display: block;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
  --tw-bg-opacity: 1;

  background-color: map-get($colors, text-gray-600);
  color: map-get($colors, text-white);

  &.xxl {

  }

	&.xl {
		width: 62px;
		height: 62px;
    font-size: 1.125rem;
	}

	&.lg {
		width: 48px;
		height: 48px;
    font-size: 0.875rem;
	}

	&.md {
		width: 38px;
		height: 38px;
    font-size: 0.875rem;
	}

	&.sm {
		width: 30px;
		height: 30px;
    font-size: 0.75rem;
	}

	&.circle {
		border-radius: 9999px;
	}

	&.square {
		border-radius: 0.25rem;
	}
  &.text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
  }
  &.jsx { 
    display: inline-block;
    height: 2.875rem;
    width: 2.875rem;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity));

    font-size: 1.5rem;
    padding: 0.6rem;
    line-height: 1.8rem;
  }

  &.primary {
    color: rgb(var(--color-primary));
    background-color: rgb(var(--color-primary) / 0.1);
  }
  &.secondary {
    color: rgb(var(--color-secondary));
    background-color: rgb(var(--color-secondary) / 0.1);
  }
  &.danger {
    color: rgb(var(--color-danger));
    background-color: rgb(var(--color-danger) / 0.1);
  }
  &.success {
    color: rgb(var(--color-success));
    background-color: rgb(var(--color-success) / 0.1);
  }
  &.warning {
    color: rgb(var(--color-warning));
    background-color: rgb(var(--color-warning) / 0.1);
  }
  &.info {
    color: rgb(var(--color-info));
    background-color: rgb(var(--color-info) / 0.1);
  }
  &.bg_transparent {
    background-color: transparent;
  }
}